<div id="page-container" class="vh-100 position-relative d-flex justify-content-center align-items-center">
    <h1 id="question" class="position-absolute bg-light p-2 rounded text-center">Qu'est-ce qui est jaune et qui attend ?
    </h1>
    <span class="position-absolute start-0 bottom-0 text-warning-emphasis">Credits:
        https://www.vecteezy.com/vector-art/15916932-abandoned-pirate-captain-ship-cabin-broken-room</span>


    <div class="grid w-100">
        <div class="box rounded bg-primary">Eliott</div>
        <div class="box rounded bg-success">Shanshe</div>
        <div class="box rounded bg-danger">Philippe</div>
        <div class="box rounded">C'est comme un jaune qui attend mais c'est Jonathan en faite. ouai.</div>
    </div>
</div>