<div id="page-container" class="vh-100 position-relative d-flex justify-content-center align-items-center">


  <div class="position-absolute" id="loading-bar">
    <div id="loading-progress" class="h-100" [style.animation-duration]="getTimerDuration()+'ms'"></div>
  </div>


  <h1 id="question" class="position-absolute bg-light p-2 rounded text-center">
    {{ getCurrentQuestion().question }}
  </h1>

  <div class="grid w-100">
    @for (answer of getCurrentQuestion().answers;track answer;let id = $index) {
      <div [className]="buttonColor(id)">{{ answer.answer }}</div>
    }
  </div>
  <audio [src]="musicUrl" autoplay loop [volume]="0.6"></audio>
</div>
