<div class="d-flex h-100 flex-column text-center">

    @if (playerNickName) {
    @if(canAnswer()){

    }@else{
    <div class="d-flex flex-column flex-grow-1 justify-content-center ">
        <h5 class="text-center mb-5">Your name for this room is <span class="text-primary">{{playerNickName}}</span>.
        </h5>
        <span class="text-secondary">Waiting for the host...</span>
        <div>
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    }


    } @else {
    <h1 class="text-center">You are in the room {{getRoomCode()}}</h1>

    <!-- Form -->
    <form class="d-flex flex-grow-1 form-inline justify-content-center mb-3">
        <div class="form-group">
            <label for="nickname" class="mr-2">Pick a nickname:</label>
            <input type="text" class="form-control" id="nickname" name="nickname" required #nicknameInput>
        </div>
        <button type="submit" class="btn btn-primary ml-2" (click)="setPlayerNickName(nicknameInput.value)">Set</button>
    </form>
    }
</div>