#page-container {
    background-image: url(../../../assets/images/vecteezy_wreck-pirate-ship-underwater-with-torn-flag_21449294.jpg);
    background-size: cover;
    background-position: center;
  }
  
  @keyframes podium-tier-enter {
    to {
        transform: translateY(10dvh);
    }
  }

.podium-tier {
    position: relative;
    width: 20dvw;
    background: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(70vh);
    padding-top: 4dvh;
    text-align: center;
    color: white;
    font-size: 10dvh;
}

#podium-1 {
    animation: podium-tier-enter 1s 3s forwards;
    height: 70vh;

    .podium-player-pseudo {
        animation: show 1s 6s forwards;
    }
}

#podium-2 {
    animation: podium-tier-enter 1s 2s forwards;
    height: 55vh;
    rotate: -10deg;
    translate: 2.5dvw;

    .podium-player-pseudo {
        animation: show 1s 5s forwards;
    }
}

#podium-3 {
    animation: podium-tier-enter 1s 1s forwards;
    height: 40vh;
    rotate: 10deg;
    translate: -2.5dvw;

    .podium-player-pseudo {
        animation: show 1s 4s forwards;
    }
}

.podium-player-pseudo {
    position: absolute;
    top: -10dvh;
    font-size: 5dvh;
    color: black;
    text-align: center;
    opacity: 0;
}
