<div id="page-container" class="vh-100 position-relative d-flex justify-content-center align-items-end overflow-hidden">
    <!-- @for (player of players; track player) {
    <div class="bg-light p-2 rounded text-center m-2 shadow-lg player">{{ player.pseudo }}</div>
    } -->

    <div id="podium-2" class="podium-tier"><span class="podium-player-pseudo bg-light p-2 rounded text-center">{{players[1].pseudo}}</span>2</div>
    <div id="podium-1" class="podium-tier"><span class="podium-player-pseudo bg-light p-2 rounded text-center">{{players[0].pseudo}}</span>1</div>
    <div id="podium-3" class="podium-tier"><span class="podium-player-pseudo bg-light p-2 rounded text-center">{{players[2].pseudo}}</span>3</div>

    <span class="position-absolute start-0 bottom-0 text-warning-emphasis">Credits:
        https://www.vecteezy.com/vector-art/21449294-wreck-pirate-ship-underwater-with-torn-flag</span>
</div>