#page-container {
    background-image: url(../../../assets/images/vecteezy_wreck-pirate-ship-underwater-with-torn-flag_21449294.jpg);
    background-size: cover;
    background-position: center;
  }
  

.podium-tier {
    position: relative;
    width: 20dvw;
    background: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(10vh);
    padding-top: 4dvh;
    text-align: center;
    color: white;
    font-size: 10dvh;
}

#podium-1 {
    height: 70vh;
}

#podium-2 {
    height: 55vh;
    rotate: -10deg;
    translate: 2.5dvw;
}

#podium-3 {
    height: 40vh;
    rotate: 10deg;
    translate: -2.5dvw;
}

.podium-player-pseudo {
    position: absolute;
    top: -10dvh;
    font-size: 5dvh;
    color: black;
    text-align: center;
}