.podium-tier {
    position: relative;
    width: 20dvw;
    background: purple;
    display: block;
    transform: translateY(10vh);
    padding-top: 4dvh;
    text-align: center;
    color: white;
    font-size: 10dvh;
}

#podium-1 {
    height: 70vh;
}

#podium-2 {
    height: 55vh;
    rotate: -10deg;
    translate: 2.5dvw;
}

#podium-3 {
    height: 40vh;
    rotate: 10deg;
    translate: -2.5dvw;
}

.podium-player-pseudo {
    width: 100%;
    left: 0;
    top: -8dvh;
    position: absolute;
    font-size: 5dvh;
    color: black;
    text-align: center;
}