<div id="page-container" class="vh-100 position-relative d-flex justify-content-center align-items-center">
  <h1 id="question" class="position-absolute bg-light p-2 rounded text-center">
    {{ host.getCurrentStep()()!.getGameState().getCurrentQuestion()().question }}
  </h1>
  <span class="position-absolute start-0 bottom-0 text-warning-emphasis">
    Credits:
    https://www.vecteezy.com/vector-art/15916932-abandoned-pirate-captain-ship-cabin-broken-room
  </span>
  <div class="grid w-100">
    @for (answer of host.getCurrentStep()()!.getGameState().getCurrentQuestion()().answers; track answer) {
      <div class="box rounded" [class.correct]="answer.correct" [class.incorrect]="!answer.correct">
        {{ answer.answer }}
      </div>
    }
  </div>
</div>
