<h1>Host</h1>
<h2>Code : {{ host.getRoomCode() }}</h2>

<div class="d-flex flex-column align-items-center">
  <app-qr-code [roomCode]="host.getRoomCode()"></app-qr-code>
  <span>Scanner pour rejoindre</span>
</div>

<p>Status : {{ host.getCurrentStepType()() }}</p>
<p>Question ID : {{ host.getCurrentQuestion()() }}</p>

@switch (host.getCurrentStepType()()){
  @case (GameStepType.PLAYER_LIST){
    <app-host-playerlist></app-host-playerlist>
  }
  @case (GameStepType.QUESTION){
    <app-host-question></app-host-question>
  }
  @case (GameStepType.LEADERBOARD){
    <app-host-podium></app-host-podium>
  }
}

<button (click)="host.nextStep()">Next Step</button>
