<div class="container">
  <header class="text-center mt-2">
    <h1>SeaCracker - {{ title }}</h1>
    <h2>{{ quiz.getTitle() }}</h2>
  </header>

  <main class="container mt-5">
    <div class="row">
      <!-- Left Container -->
      <section class="col-md-3">
        @for (question of quiz.getQuestions(); track question) {
        <div class="card m-2">
          <div class="card-body d-flex align-items-center justify-content-between" (click)="selectedQuestion(question)">
            <h5 class="text-wrap">Question {{ question.getId() }}</h5>
            <i class="fa fa-trash" (click)="deleteQuestion(question.getId())"></i>
          </div>
        </div>
        }
        <button class="btn btn-primary mt-3" (click)="addQuestion()">Add Question</button>
      </section>

      <!-- Middle Container -->
      <section class="col-md-6">
        <div class="container mt-2">
        <h5 class="text-center">{{ question.getQuestion() }}</h5>
        </div>
        <div class="row m-5">
          @for (answer of question.getAnswers(); track answer) {
          <div class="card mt-5 me-1">
            <div class="card-body d-flex align-items-center justify-content-between">
              <label class="form-check-label" for="correctAnswer">{{ answer.getAnswer() }}</label>
              <input class="form-check-input" type="radio" [value]="answer.getCorrect()" [checked]="answer.getCorrect()" name="correctAnswer" id="correctAnswer" (click)="setCorrectAnswer(answer)">
            </div>
          </div>
          }
        </div>
      </section>

      <!-- Right Container -->
      <section class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Timer in seconds for :</h5>
            <p class="card-text">Question n°{{ question.getId() }}</p>
            <select class="form-select mb-3">
              <option selected>{{ question.getTimer() }}</option>
              @for (time of getTimers(); track time) {
                @if (time !== question.getTimer()) {
                <option (change)="setQuestionTimer(question, time)">{{ time }}</option>
                }
              }
            </select>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
