#page-container {
    background-image: url(../../../assets/images/vecteezy_sea-lagoon-with-wooden-pirate-ship_15917197.jpg);
    background-size: cover;
    background-position: center;
    height: 100dvh;
    color: white;
  }