<div id="page-container" class="d-flex flex-column justify-content-center align-items-center text-center">

  <h1 class="bg-light p-2 rounded text-center text-black">Join a room</h1>

  <form class="d-flex justify-content-center align-items-center gap-2 mt-5">
    <input type="text" class="form-control" id="roomID" name="roomID" placeholder="Room code" [(ngModel)]="roomID" style="width:12rem;"
      required>
    <button type="submit" class="btn btn-primary" (click)="joinRoom()">Join</button>
  </form>

</div>