<div id="pageContainer" class="container-fluid">

  <header class="text-center pt-3">
    <div class="card mb-4 p-3 border border-light rounded bg-light shadow-sm">
      <div class="nav d-flex justify-content-center position-fixed align-self-start">
        <a class="btn btn-primary me-3" [routerLink]="['/']">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>
      <h1>SeaCracker - Edit Quiz</h1>
      <div class="mt-4 align-self-center w-25">
        <p class="text fs-5">Quiz :</p>
        <input class="form-control text-center" type="text" placeholder="Write your quiz title" [value]="quiz.title"
               (change)="updateQuizTitle($event)">
      </div>
    </div>
  </header>

  <main>
    <div class="row">

      <!-- Left Container -->
      <section class="col question-container">
        @for (q of quiz.questions; track question; let i = $index) {
          <div class="card mb-3 p-3 rounded bg-light shadow-sm question" [class.selected]="q === question">
            <div class="card-body d-flex bd-highlight align-items-center justify-content-between p-0"
                 (click)="setSelectedQuestion(q)">
              <span class="fs-5 truncate">{{ q.question }}</span>
              <div class="d-flex align-items-center">
                <button class="btn btn-danger" (click)="deleteQuestion(q)">
                  <i class="fa fa-trash"></i>
                </button>
                <div class="d-flex flex-column ms-3">
                  <button class="btn btn-primary mb-2" (click)="swapQuestions(q, 'up')">
                    <i class="fa fa-arrow-up"></i>
                  </button>
                  <button class="btn btn-primary" (click)="swapQuestions(q, 'down')">
                    <i class="fa fa-arrow-down"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
        <button class="btn btn-success" (click)="addQuestion()">
          <i class="fa fa-plus"></i> Add a question
        </button>
      </section>

      <!-- Middle Container -->
      <section class="col-md-6">
        <div class="row mx-5 mb-3">
          <div class="card mb-5 p-3 rounded bg-light shadow-sm">
            <p class="text-center fs-5">Question :</p>
            <input class="form-control " type="text" [value]="question.question" placeholder="Write your question"
                   (change)="updateQuestionTitle(question, $event)">
          </div>
          @for (answer of question.answers; track answer; let i = $index) {
            <div class="card rounded bg-light shadow-sm mt-3 mb-4">
              <div class="card-body d-flex align-items-center justify-content-between">
                <input class="form-control" style="width:45rem;" type="text" [value]="answer.answer"
                       placeholder="Write your answer and check the correct one"
                       (change)="updateAnswer(question, answer, $event)">
                <input class="form-check-input" type="checkbox" [value]="answer.correct" [checked]="answer.correct"
                       name="correctAnswer" (click)="toggleCorrectAnswer(answer)">
              </div>
            </div>
          }
        </div>
      </section>

      <!-- Right Container -->
      <section class="col-md-3">
        <div class="card rounded bg-light shadow-sm">
          <div class="card-body">
            <p class="card-title fs-5">Timer of the question in seconds</p>
            <select class="form-select w-25" (change)="updateQuestionTimer(question, $event)">
              <option selected>{{ question.timer }}</option>
              @for (time of getPredefinedTimers(); track time) {
                @if (time !== question.timer) {
                  <option [selected]="time === question.timer">{{ time }}</option>
                }
              }
            </select>
          </div>
        </div>
      </section>
    </div>
  </main>
  <span class="credits"></span>
</div>
