#pageContainer{
  height: 100dvh;
  background-image: url('/src/assets/edit-quiz-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-container {
  max-height: 75vh;
  overflow-y: auto;
}
