@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
 }

#loading-bar {
    top: 0;
    margin-top: 8rem;
    width: 60rem;
    height: 2rem;
    border: 5px solid white;
}

#loading-progress {
    background: white;
    transition: all 1s linear;
    animation: countdown 1 linear forwards;
}

#question {
    font-size: 2rem;
    max-width: 75%;
    animation: bounce 1s 1;
}

#page-container {
    background-image: url(../../../assets/images/vecteezy_abandoned-pirate-captain-ship-cabin-broken-room_15916932.jpg);
    background-size: cover;
    background-position: center;
}