<div [style.backgroundImage]="'url(assets/images/vecteezy_abandoned-pirate-captain-ship-cabin-broken-room_15916932.jpg)'" [style.backgroundSize]="'cover'" [style.backgroundPosition]="'center'" class="vh-100 position-relative d-flex justify-content-center align-items-center">
    <div class="position-absolute" id="loading-bar">
        <div id="loading-progress" class="h-100" [style.width]="'25%'"></div>
    </div>
    <h1 [style.maxWidth]="'75%'" class="bg-light p-2 rounded text-center">Question</h1>
    <span class="position-absolute start-0 bottom-0 text-warning-emphasis">Credits: https://www.vecteezy.com/vector-art/15916932-abandoned-pirate-captain-ship-cabin-broken-room</span>
</div>