body {
    display: flex;
    height: 100dvh;
}

app-root {
    display: flex;
    flex-grow: 1;

    > *:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}