<div id="pageContainer" class="container-fluid pt-3">

  <div class="card mb-4 p-3 rounded bg-light shadow-sm text-center">
    <div class="align-items-center">
      <h1 class="text-dark fs-1 ">SeaCracker - Home Page</h1>
      <div class="d-flex justify-content-center mt-4">
        <button (click)="addQuiz()" class="btn btn-success m-2">
          <i class="fas fa-plus"></i> Add a quiz
        </button>
        <input type="text" class="form-control m-2" style="width: 200px;" placeholder="Enter import data" #importData>
        <button (click)="importQuiz(importData.value)" class="btn btn-primary m-2">
          <i class="fas fa-upload"></i> Import
        </button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center quiz-container">
    @for (quiz of quizzes; track quiz) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-4 p-3 border border-light rounded bg-light shadow-sm">
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-dark fs-4">{{ quiz.title || 'New Quiz' }}</span>
            <div class="d-flex">
              <a [routerLink]="['/quiz', quiz.id, 'edit']" class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </a>
              <a [routerLink]="['/host', quiz.id]" class="btn btn-primary ms-1">
                <i class="fas fa-play"></i>
              </a>
              <button (click)="copyQuizExportToClipboard(quiz)" class="btn btn-primary ms-1">
                <i class="fa-solid fa-copy"></i>
              </button>
              <button (click)="tryToDeleteQuiz(quiz)" class="btn btn-danger ms-1">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
