<div class="container-fluid">

  <div class="text-center mb-3 mt-4">
    <h1 class="text-dark fs-1">SeaCracker - Home Page</h1>
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control ml-3" style="width: 200px;" placeholder="Enter import data" #importData>
      <button (click)="importQuiz(importData.value)" class="btn btn-primary ml-2 me-1">
        <i class="fas fa-upload"></i> Import
      </button>
      <button (click)="addQuiz()" class="btn btn-primary">
        <i class="fas fa-plus"></i> Add a Quiz
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    @for (quiz of quizzes; track quiz){
      <div  class="col-12 col-md-6 col-lg-4">
        <div class="card m-2 p-3 border border-light rounded bg-light shadow-sm">
          <div class="d-flex justify-content-between align-items-center">
            @if (quiz.title !== ''){
              <span class="text-dark fs-4">{{ quiz.title }}</span>
            } @else {
            <span class="text-dark fs-4">New Quiz</span>
            }
            <div class="d-flex">
              <a [routerLink]="['/quiz', quiz.id, 'edit']" class="btn btn-primary">
                Edit
              </a>
              <button (click)="deleteQuiz(quiz)" class="btn btn-primary ms-1">
                Delete
              </button>
              <a [routerLink]="['/host', quiz.id]" class="btn btn-primary ms-1">
                Start
              </a>
              <button (click)="copyQuizExportToClipboard(quiz)" class="btn btn-primary ms-1">
                <i class="fa-solid fa-copy"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
